In [34]:
# Now the Pandas package can be referred to as pd instead of pandas.
import pandas as pd

In [35]:
# Load a CSV file into a Pandas DataFrame
df=pd.read_csv("Empresas.csv")

In [36]:
# Return a tuple representing the dimensionality of the DataFrame.
df.shape

(30000, 14)

In [37]:
# Use the method info(), that gives you information about the data set.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     30000 non-null  int64
 1   RAZÓN SOCIAL            29998 non-null  object
 2   SUPERVISOR              30000 non-null  object
 3   REGIÓN                  30000 non-null  object
 4   DEPARTAMENTO DOMICILIO  30000 non-null  object
 5   CIUDAD DOMICILIO        30000 non-null  object
 6   CIIU                    30000 non-null  int64
 7   MACROSECTOR             30000 non-null  object
 8   INGRESOS OPERACIONALES  30000 non-null  object
 9   GANANCIA (PÉRDIDA)      30000 non-null  object
 10  TOTAL ACTIVOS           30000 non-null  object
 11  TOTAL PASIVOS           30000 non-null  object
 12  TOTAL PATRIMONIO        30000 non-null  object
 13  Año de Corte            30000 non-null  int64
dtypes: int64(3), object(11)
memory usage: 3.2+ MB

In [38]:
# Use the drop() method to remove columns that are not needed for analysis 
# Save in a new DataFrame called df_cleaned
df_cleaned = df.drop(columns=["CIIU", "REGIÓN", "Año de Corte"])

In [39]:
# Use the method info(), that gives you information about the new data set.
# Deleted columns are no longer displayed
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     30000 non-null  int64
 1   RAZÓN SOCIAL            29998 non-null  object
 2   SUPERVISOR              30000 non-null  object
 3   DEPARTAMENTO DOMICILIO  30000 non-null  object
 4   CIUDAD DOMICILIO        30000 non-null  object
 5   MACROSECTOR             30000 non-null  object
 6   INGRESOS OPERACIONALES  30000 non-null  object
 7   GANANCIA (PÉRDIDA)      30000 non-null  object
 8   TOTAL ACTIVOS           30000 non-null  object
 9   TOTAL PASIVOS           30000 non-null  object
 10  TOTAL PATRIMONIO        30000 non-null  object
dtypes: int64(1), object(10)
memory usage: 2.5+ MB

In [40]:
# To rename a column in a pandas DataFrame in Python, you can use the .rename() method
# inplace=True causes the change to be made directly on the DataFrame without having to assign the result to a new variable.
#RAZÓN SOCIAL
df_cleaned.rename(columns={'RAZÓN SOCIAL': 'RAZÓN_SOCIAL'}, inplace=True)
#DEPARTAMENTO DOMICILIO
df_cleaned.rename(columns={'DEPARTAMENTO DOMICILIO': 'DEPARTAMENTO_DOMICILIO'}, inplace=True)
#CIUDAD DOMICILIO 
df_cleaned.rename(columns={'CIUDAD DOMICILIO': 'CIUDAD_DOMICILIO'}, inplace=True)
#INGRESOS OPERACIONALES
df_cleaned.rename(columns={'INGRESOS OPERACIONALES': 'INGRESOS_OPERACIONALES'}, inplace=True)
#GANANCIA (PÉRDIDA)
df_cleaned.rename(columns={'GANANCIA (PÉRDIDA)': 'GANANCIA_PÉRDIDA'}, inplace=True)
#TOTAL ACTIVOS
df_cleaned.rename(columns={'TOTAL ACTIVOS': 'TOTAL_ACTIVOS'}, inplace=True)
#TOTAL PASIVOS
df_cleaned.rename(columns={'TOTAL PASIVOS': 'TOTAL_PASIVOS'}, inplace=True)
#TOTAL PATRIMONIO
df_cleaned.rename(columns={'TOTAL PATRIMONIO': 'TOTAL_PATRIMONIO'}, inplace=True)

In [41]:
# inplace=True causes the change to be made directly on the DataFrame without having to assign the result to a new variable.
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     30000 non-null  int64
 1   RAZÓN_SOCIAL            29998 non-null  object
 2   SUPERVISOR              30000 non-null  object
 3   DEPARTAMENTO_DOMICILIO  30000 non-null  object
 4   CIUDAD_DOMICILIO        30000 non-null  object
 5   MACROSECTOR             30000 non-null  object
 6   INGRESOS_OPERACIONALES  30000 non-null  object
 7   GANANCIA_PÉRDIDA        30000 non-null  object
 8   TOTAL_ACTIVOS           30000 non-null  object
 9   TOTAL_PASIVOS           30000 non-null  object
 10  TOTAL_PATRIMONIO        30000 non-null  object
dtypes: int64(1), object(10)
memory usage: 2.5+ MB

In [42]:
# Use the following line if you want to remove rows with null values for all columns:
df_cleaned = df_cleaned.dropna()

In [43]:
# Return a tuple representing the dimensionality of the DataFrame.
# First value  = Number of Rows including the header.
# Second value = Number of Columns.
df_cleaned.shape

(29998, 11)

In [44]:
# Get and display the number of deleted rows
rows_before = df.shape[0]
rows_after = df_cleaned.shape[0]

rows_before - rows_after

2

In [45]:
# Use the method info(), that gives you information about the new data set.
# Deleted columns and and rowswith null values are no longer displayed
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29998 entries, 0 to 29999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     29998 non-null  int64
 1   RAZÓN_SOCIAL            29998 non-null  object
 2   SUPERVISOR              29998 non-null  object
 3   DEPARTAMENTO_DOMICILIO  29998 non-null  object
 4   CIUDAD_DOMICILIO        29998 non-null  object
 5   MACROSECTOR             29998 non-null  object
 6   INGRESOS_OPERACIONALES  29998 non-null  object
 7   GANANCIA_PÉRDIDA        29998 non-null  object
 8   TOTAL_ACTIVOS           29998 non-null  object
 9   TOTAL_PASIVOS           29998 non-null  object
 10  TOTAL_PATRIMONIO        29998 non-null  object
dtypes: int64(1), object(10)
memory usage: 2.7+ MB

In [46]:
# Adjusting data types
df_cleaned['SUPERVISOR'] = df_cleaned['SUPERVISOR'].astype('string')
df_cleaned['DEPARTAMENTO_DOMICILIO'] = df_cleaned['DEPARTAMENTO_DOMICILIO'].astype('string')
df_cleaned['CIUDAD_DOMICILIO'] = df_cleaned['CIUDAD_DOMICILIO'].astype('string')
df_cleaned['MACROSECTOR'] = df_cleaned['MACROSECTOR'].astype('string')

In [47]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29998 entries, 0 to 29999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     29998 non-null  int64
 1   RAZÓN_SOCIAL            29998 non-null  object
 2   SUPERVISOR              29998 non-null  string
 3   DEPARTAMENTO_DOMICILIO  29998 non-null  string
 4   CIUDAD_DOMICILIO        29998 non-null  string
 5   MACROSECTOR             29998 non-null  string
 6   INGRESOS_OPERACIONALES  29998 non-null  object
 7   GANANCIA_PÉRDIDA        29998 non-null  object
 8   TOTAL_ACTIVOS           29998 non-null  object
 9   TOTAL_PASIVOS           29998 non-null  object
 10  TOTAL_PATRIMONIO        29998 non-null  object
dtypes: int64(1), object(6), string(4)
memory usage: 2.7+ MB

In [48]:
df_cleaned["INGRESOS_OPERACIONALES"] = df_cleaned["INGRESOS_OPERACIONALES"].str.replace("$", "").str.replace(",", "").astype(float)
df_cleaned["GANANCIA_PÉRDIDA"] = df_cleaned["GANANCIA_PÉRDIDA"].str.replace("$", "").str.replace(",", "").astype(float)
df_cleaned["TOTAL_ACTIVOS"] = df_cleaned["TOTAL_ACTIVOS"].str.replace("$", "").str.replace(",", "").astype(float)
df_cleaned['TOTAL_PASIVOS'] = df_cleaned['TOTAL_PASIVOS'].str.replace("$", "").str.replace(",", "").astype(float)
df_cleaned["TOTAL_PATRIMONIO"] = df_cleaned["TOTAL_PATRIMONIO"].str.replace("$", "").str.replace(",", "").astype(float)

C:\Users\Usuario\AppData\Local\FortiClient\tmp\ipykernel_28656\2954153474.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_cleaned["INGRESOS_OPERACIONALES"] = df_cleaned["INGRESOS_OPERACIONALES"].str.replace("$", "").str.replace(",", "").astype(float)
C:\Users\Usuario\AppData\Local\FortiClient\tmp\ipykernel_28656\2954153474.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_cleaned["GANANCIA_PÉRDIDA"] = df_cleaned["GANANCIA_PÉRDIDA"].str.replace("$", "").str.replace(",", "").astype(float)
C:\Users\Usuario\AppData\Local\FortiClient\tmp\ipykernel_28656\2954153474.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_cleaned["TOTAL_ACTIVOS"] = df_cleaned["TOTAL_ACTIVOS"].str.replace("$", "").str.replace(",", "").astype(float)
C:\Users\Usuario\AppData\Local\FortiClient\tmp\ipykernel_28656\2954153474.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_cleaned['TOTAL_PASIVOS'] = df_cleaned['TOTAL_PASIVOS'].str.replace("$", "").str.replace(",", "").astype(float)
C:\Users\Usuario\AppData\Local\FortiClient\tmp\ipykernel_28656\2954153474.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_cleaned["TOTAL_PATRIMONIO"] = df_cleaned["TOTAL_PATRIMONIO"].str.replace("$", "").str.replace(",", "").astype(float)

In [49]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29998 entries, 0 to 29999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     29998 non-null  int64
 1   RAZÓN_SOCIAL            29998 non-null  object
 2   SUPERVISOR              29998 non-null  string
 3   DEPARTAMENTO_DOMICILIO  29998 non-null  string
 4   CIUDAD_DOMICILIO        29998 non-null  string
 5   MACROSECTOR             29998 non-null  string
 6   INGRESOS_OPERACIONALES  29998 non-null  float64
 7   GANANCIA_PÉRDIDA        29998 non-null  float64
 8   TOTAL_ACTIVOS           29998 non-null  float64
 9   TOTAL_PASIVOS           29998 non-null  float64
 10  TOTAL_PATRIMONIO        29998 non-null  float64
dtypes: float64(5), int64(1), object(1), string(4)
memory usage: 2.7+ MB

In [50]:
df.head(10)

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte
0,899999068,ECOPETROL S.A,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,610,MINERO,$144.82,$33.41,$216.85,$125.81,$91.03,2022
1,900112515,REFINERIA DE CARTAGENA S.A.S,SUPERSOCIEDADES,Costa Atlántica,BOLIVAR,CARTAGENA-BOLIVAR,1921,MANUFACTURA,$27.86,$2.19,$42.84,$16.48,$26.36,2022
2,830095213,ORGANIZACIÓN TERPEL S.A.,SUPERFINANCIERA,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4661,COMERCIO,$23.60,$0.33,$7.48,$4.47,$3.01,2022
3,860069804,CARBONES DEL CERREJON LIMITED,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$16.39,$6.05,$10.45,$9.00,$1.45,2022
4,800021308,DRUMMOND LTD,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,510,MINERO,$15.27,$2.16,$14.27,$6.34,$7.93,2022
5,890900608,ALMACENES EXITO S A,SUPERFINANCIERA,Antioquia,ANTIOQUIA,ENVIGADO-ANTIOQUIA,4711,COMERCIO,$15.13,$0.10,$14.85,$7.62,$7.23,2022
6,890904996,EMPRESAS PÚBLICAS DE MEDELLÍN E.S.P.,SUPERFINANCIERA,Antioquia,ANTIOQUIA,MEDELLIN-ANTIOQUIA,3513,SERVICIOS,$15.07,$3.04,$59.47,$30.24,$29.23,2022
7,900156264,NUEVA EPS S.A.,SUPERSALUD,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,8430,SERVICIOS,$14.78,$0.01,$5.91,$5.43,$0.49,2022
8,800153993,COMUNICACIÓN CELULAR S.A.,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,6120,SERVICIOS,$14.63,$1.79,$23.43,$14.67,$8.76,2022
9,900276962,D1 SAS,SUPERSOCIEDADES,Bogotá - Cundinamarca,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4711,COMERCIO,$13.96,$0.29,$4.90,$4.75,$0.15,2022